PORT=5000
MONGODB_URI=mongodb+srv://kullanici:parola@cluster.mongodb.net/pacdi
JWT_SECRET=bu_cok_gizli_bir_anahtar
PADDLE_VENDOR_ID=12345
PADDLE_API_KEY=test_xxxxxx
PADDLE_CLIENT_TOKEN=test_xxxxxx
FRONTEND_URL=https://pacdi.store
